{% layout "server/layouts/base.liquid" %}

{% block content %}
  <div class="blog-wrapper">
    <div class="blog-container">
      {% if blog.image %}
        <img class="blog-image" src="{{ blog.image.src }}" alt="{{ blog.image.alt }}">
        {% else %}
        <img class="blog-image" src="/images/blank.png">
      {% endif %}

      {% if blog.inleiding %}
        <div class="blog-intro">
          <h1>{{ blog.title }}</h1>
          <p>{{ blog.inleiding }}</p>
        </div>
      {% endif %}
    </div>
    <div class="blog-content">
      {% for section in blog.content %}
        <h2>{{ section.titel }}</h2>
        {% for alinea in section.alinea %}
          <p>{{ alinea }}</p>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
