<div class="card">
  <a href="/weekly-nerd/blog/{{ blog.id }}/">
    <img src="{{ blog.image.src }}" alt="{{ blog.image.alt }}" class="card-image">
    <h2>{{ blog.title }}</h2>
    <p>{{ blog.intro }}</p>
  </a>
</div>
